alabaster==0.7.12
appdirs==1.4.3
arandr==0.1.10
asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
Automat==0.7.0
autopep8==1.4.4
Babel==2.7.0
Beaker==1.10.1
beautifulsoup4==4.7.1
btrfsutil==1.1.1
CacheControl==0.12.5
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.1
constantly==15.1.0
cryptography==2.7
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.0
deluge==2.0.3
distlib==0.2.9
distro==1.4.0
docopt==0.6.2
docutils==0.14
future==0.17.1
GeoIP==1.3.2
gmpy2==2.1.0b1
gufw==18.10.0
html5lib==1.0.1
hyperlink==19.0.0
idna==2.8
imagesize==1.1.0
incremental==17.5.0
isort==4.3.21
Jinja2==2.10.1
jsonschema==3.0.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
lensfun==0.3.2
lockfile==0.12.2
louis==3.10.0
Mako==1.0.12
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
mccabe==0.6.1
mpmath==1.1.0
msgpack==0.6.1
npyscreen==4.10.5
numpy==1.16.4
opencv-python==4.1.0.25
packaging==19.0
pacman-mirrors==4.14.2
pandas==0.24.2
pep517==0.5.0
Pillow-SIMD==5.3.0.post1
ply==3.11
progress==1.5
psutil==5.6.3
pyasn1==0.4.5
pyasn1-modules==0.2.5
PyAudio==0.2.11
pycairo==1.18.1
pycodestyle==2.5.0
pycparser==2.19
pycups==1.9.74
pycurl==7.43.0.2
pyelftools==0.25
Pygments==2.4.2
PyGObject==3.32.2
PyHamcrest==1.9.0
pylint==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.3.1
PyQt5==5.12.2
PyQt5-sip==4.19.17
PyQtWebEngine==5.12.1
pyrsistent==0.15.2
pyserial==3.4
python-dateutil==2.8.0
python-libtorrent==1.1.12
python-xapp==1.6.0
python-xlib==0.24
pytoml==0.1.20
pytz==2019.1
pyxdg==0.26
ranger-fm==1.9.2
rencode==1.0.6
requests==2.22.0
retrying==1.3.3
scipy==1.3.0
Send2Trash==1.5.0
service-identity==18.1.0
setproctitle==1.1.10
six==1.12.0
snowballstemmer==1.9.0
soupsieve==1.9.2
speedtest-cli==2.1.1
Sphinx==2.1.2
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sympy==1.4
team==1.0
termcolor==1.1.0
tldr==0.5
Twisted==19.2.1
typed-ast==1.4.0
ueberzug==18.1.3
ufw==0.36
urllib3==1.25.3
webencodings==0.5.1
wrapt==1.11.2
zope.interface==4.6.0
